<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BloodBank</title>

    <link rel="stylesheet" href="materialize.min.css" />
    <link href="icon.css" rel="stylesheet" />

    <link rel="stylesheet" href="donate.css" />
  </head>

  <body>
    <!-- Nav -->
    <nav class="mynav">
      <div class="nav-wrapper container">
        <a href="/">
					<i class='fas fa-burn' style='font-size:36px'></i>

				</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a class="btn transparent" href="/bank">Check Donors</a></li>
          <li><a class="btn transparent" href="/logout">Log Out</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li>
        <a class="btn red" href="/bank?blood=&city=&zeros=on">Check Donors</a>
      </li>
      <li><a class="btn red" href="/logout">Log Out</a></li>
    </ul>
    <div class="center flow-text">
      <h4 class="indigo-text">Welcome <%= user.name %>.</h4>
      <p>
        You have donated <span class="pink-text"><%= user.amount %></span> Pint
        blood so far.
      </p>
    </div>
    <div class="row center">
      <p>
       Ready to donate? Enter the amount please.
      </p>
      <form action="/donate" method="post" id="amountForm">
        <input
          required
          id="amount"
          name="amount"
          type="number"
          max="5"
          value="0"
          class="browser-default"
        />      
        <span class="red-text">P</span><br />
        <a
          onclick="document.getElementById('amountForm').submit();"
          class="btn-floating btn-large waves-effect waves-light red"
          ><i class="material-icons">add</i></a
        >
      </form>

      <h3 class="indigo-text container flow-text" style="margin-left: 25%;">Last donated <%= user.lastDonated %>
    </div>

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <script src="jquery.min.js"></script>
    <script src="materialize.min.js"></script>
    <script src="donate.js"></script>
  </body>
</html>
