<!-- Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l9">
        <h5 class="white-text">About Us!</h5>
        <p class="grey-text text-lighten-4">Vaishnavi Konde & Deepika Goyal</p>
        <p class="grey-text text-lighten-4">
          This project is created for the need of hour. In these covid days blood doantion and tracking of the same has became very important, and this might help us to get conneted with those who wants to donate blood
        </p>
      </div>
      <div class="col s12 m4 l3">
        <h5 class="white-text">Contact</h5>
          <li>
            <i class="fab fa-whatsapp"></i
            ><a class="grey-text text-lighten-4" href="#"> Whatsapp</a>
            <ul>
              <li>+91 8007860827</li>
              <li>+91 9834933345</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
