html, body {
  margin: 0; 
  padding: 0;
  background-color: rgba(32, 32, 32, 0.979);
  color: white;
}
.brand-logo {
  height: 90%;
}

.mynav,
body footer.page-footer {
  background-color: rgba(163, 22, 32, 0.979);
}

.row {
  margin-bottom: 6px;
}

h3 {
  /* background-color:rgba(163, 22, 32, 0.979); */
  color: rgba(163, 22, 32, 0.979);;
}


div.card div.card-content {
  padding-bottom: 0.1em;
}
