.brand-logo {
  height: 90%;
}

.btn {
  background-color: rgba(163, 22, 32, 0.979);
}
.red1 {
  background-color: rgba(163, 22, 32, 0.979);

}
footer {
  margin-top: 30px;
}

body footer.page-footer {
  background-color: rgba(163, 22, 32, 0.979);
}

body {
  background-size: cover;
  background-image: url("background.png");
  background-repeat: no-repeat;
}
.bank {
  background-image: none;
  background-color: white !important;
}

.mynav,
body footer.page-footer {
  background-color: rgba(163, 22, 32, 0.979);
}
.container {

  display: flex;
  justify-content: center;
}


.row {
  margin-bottom: 2px;
}

h3 {
  color: #9f190c;
}

div.card div.card-content {
  padding-bottom: 0.1em;
  padding-top: 0.6rem;
}
nav {
  background-color: transparent;
}
select {
  display: inherit;
}

#final {
  margin-top: 10px;
}

div div input#phone,
div div input#first_name,
div div input#address {
  margin-bottom: 0;
}
